@{
	ViewData["Title"] = "Create Profile";
}

<div class="container mt-4">
	<a class="btn btn-primary" asp-area="" asp-controller="Root" asp-action="Main">Back</a>
	<hr />
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Securities</button>
			<button class="nav-link" id="nav-security-tab" data-bs-toggle="tab" data-bs-target="#nav-security" type="button" role="tab" aria-controls="nav-security" aria-selected="true">Create security</button>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
			<div class="accordion accordion-flush" id="accordionFlushExample">
				@foreach (var security in ((IEnumerable<dynamic>)ViewBag.SecurityList).Where(s => s.Type == "security"))
				{
					<div class="accordion-item border rounded shadow-sm mb-3">
						<h2 class="accordion-header" id="heading-@security.uuid">
							<button class="accordion-button collapsed bg-light text-dark fw-semibold"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapse-@security.uuid"
									aria-expanded="false"
									aria-controls="collapse-@security.uuid">
								<i class="bi bi-person-circle me-2"></i> @security.Name
							</button>
						</h2>
						<div id="collapse-@security.uuid"
							 class="accordion-collapse collapse"
							 aria-labelledby="heading-@security.uuid"
							 data-bs-parent="#accordionFlushExample">

							<div class="accordion-body">
								<ul class="list-unstyled mb-0">
									<li><strong>Email:</strong> @security.Email</li>
									<li><strong>Type:</strong> @security.Type</li>
									@if (@security.Assignment != null && @security.Assignment.Count > 0)
									{
										<li><strong>Assigned to the condominium:</strong> @security.Assignment[0].CondoAssignment</li>
										
									}
								</ul>
									
									<a href="/Profile/EditSecurity/@security.Email" class="btn btn-info">Edit</a>

									
								<form asp-action="DeleteSecurity" method="post" style="display:inline; class=" ms-2"">
									<input type="hidden" name="uuid" value="@security.uuid" />
									<button type="submit" class="btn btn-danger"
											onclick="return confirm('¿Estás seguro de querer eliminar este security?')">
										Remove Security
									</button>
								</form>
								
							</div>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab" tabindex="0">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card shadow-lg p-4">
						<form method="post" asp-controller="Profile" asp-action="CreateSecurity">
							<div class="mb-3">
								<label for="txtEmail" class="form-label">Email</label>
								<input type="email" id="txtEmail" name="txtEmail" class="form-control" required />
							</div>
							<div class="mb-3">
								<label for="txtName" class="form-label">Nombre y ultimo nombre</label>
								<input type="text" id="txtName" name="txtName" class="form-control" required />
							</div>
							<div class="mb-3">
								<label for="txtCard" class="form-label">Cedula de identidad:</label>
								<input type="text" id="txtCard" name="txtCard" class="form-control" required />
							</div>
							<div class="mb-3">
								<select id="selCondo" name="selCondo" class="form-select" aria-label="Select the condominium">
									<option selected>Select the condominium</option>

									@foreach (var condo in @ViewBag.CondoList)
									{
										<option value="@condo.Name" data-count="@condo.Count">@condo.Name</option>
									}
								</select>
							</div>
							<hr />
							<button type="submit" class="btn btn-primary w-100">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
